html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul, ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.m-20 {
  margin: 20px;
}

.widget {
  width: 550px;
  padding: 30px;
  background-color: #c6c6ff;
  border-radius: 8px;
}

.widget-form {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
}

.input-box {
  position: relative;
  width: 200px;
}

.widget-form-label {
  margin-bottom: 10px;
  display: block;
  font-weight: 500;
}

.widget-form-input {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
}

.widget-button {
  padding: 17px;
  color: #5e5e5e;
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.widget-list {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
}

.widget-list-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 8px;
}

.widget-list-item-price {
  text-align: center;
}

.widget-list-item-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.widget-list-item-delete {
  cursor: pointer;
}

.widget-list-item-edit {
  margin-right: 10px;
  font-size: 16px;
  cursor: pointer;
}

.error {
  position: absolute;
  color: red;
}

.filter-box {
  position: relative;
  width: 300px;
}

.filter-input {
  width: 100%;
  padding: 10px 35px 10px 10px;
  border: none;
  border-radius: 8px;
}

.filter-icon {
  position: absolute;
  top: 5px;
  right: 5px;
}